{% extends 'tactical/tactical_base.html' %}

{% block title %}Financial Command{% endblock %}

{% block content %}
    <!-- Left Panel: Financial Status -->
    {% include 'tactical/components/panel_financial_status.html' %}
    
    <!-- Center Panel: Command Center Home -->
    <div class="tactical-panel center-panel">
        <div class="corner-bl"></div>
        <div class="corner-br"></div>
        
        <div class="panel-header">
            <div class="panel-title">Financial Command Center</div>
        </div>
        
        <!-- COMMAND CENTER HOME VIEW -->
        <div class="panel-content">
            {% include 'tactical/components/command_center.html' %}
        </div>
    </div>
    
    <!-- Right Panel: Quick Access -->
    {% include 'tactical/components/panel_quick_access.html' %}
{% endblock %}
